
.swiper {
    width: 100%;

    .swiper-wrapper{
        .swiper-slide{
            position: relative;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .swiper-slide-content{
                padding:  calc(190rem/var(--base)) calc(120rem/var(--base)) calc(190rem/var(--base)) calc(120rem/var(--base));
                h2{
                    color: var(--white-background-color);
                    font-size: calc(46rem/var(--base));
                    font-weight: 700;
                    padding-right: calc(352rem/var(--base));
                    line-height: calc(68.4rem/var(--base));
                }
                p{
                    color: var(--white-background-color);
                    font-size: calc(20rem/var(--base));
                    font-weight: 500;
                    padding-right: calc(352rem/var(--base));
                    line-height: 30px;
                }
                button{
                    border: none;
                    font-weight: 700;
                    font-size:calc(16rem/var(--base));
                }
            }
        }
    }

    .swiper-pagination{
        bottom: 84px !important;
        left: -420px !important;
    }

    .swiper-pagination-bullet{
        width: calc(117rem/var(--base)) !important;
        height: calc(3rem/var(--base)) !important;
        border-radius: 0 !important;
        position: relative !important;
	    overflow: hidden !important;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            // transition: opacity 200ms;
        }
    }

    .swiper-pagination-bullet-active {
        // background: rgba(#000, 0.2);
        background: #9E9E9E;
        
        &::before {
            background-color: var(--primary-color);
            animation: slide-progress 8s cubic-bezier(.3,0,.3,1) forwards;
        }
    }

    &.swiper-paused { // Add a specific rule for the paused state
        .swiper-pagination-bullet-active::before {
          animation-play-state: paused;
        }
      }
    
    @keyframes slide-progress {
        0% {
            transform: translateX(-100%);
            // width: 0;
        }
    
        100% {
            transform: translateX(0);
            // width: 100%;
        }
    }



    .swiper-player-button{
        position: absolute;
        z-index: 5;
        bottom: 84px !important;
        right: 158px !important;
        .pause-button{
            color:white;
            font-weight: 800;
            font-size: calc(18rem/var(--base));
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-family: 'OpenSans';
            gap:calc(19.63rem/var(--base));
            #pause-button{
                border: 1px solid white;
                color: white;
                width: calc(45rem/var(--base));
                height: calc(45rem/var(--base));
                background-color: var(--primary-color);
                border-radius: 100%;
                img{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
            }
        }

        .play-button{
            color:white;
            font-weight: 800;
            font-size: calc(18rem/var(--base));
            display: flex;
            align-items: center;
            justify-content: end;
            font-family: 'OpenSans';
            display: none;
            gap:calc(19.63rem/var(--base));
            #play-button{
                border: 1px solid white;
                color: white;
                width: calc(45rem/var(--base));
                height: calc(45rem/var(--base));
                background-color: var(--primary-color);
                border-radius: 100%;
                img{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
            }
        }
    }
}


